<div class="mainsaved">
    <div class="savedbutton">
        <h1 class="saved">Saved</h1>
        <h1 class="recommended">Recommended </h1>
    </div>

    <div class='savedgroup'>
        <div class='savedcard' *ngFor="let plant of plants">
            <img src={{plant.image_url}} alt="">
            <div>
                <h4>Common Name: {{plant.common_name}}</h4>
                <h4>Family Common Name: {{plant.family_common_name}}</h4>
                <h4>Scientific Name: {{plant.scientific_name}}</h4>
                <h4>Family: {{plant.family}}</h4>
                <h4>Genus: {{plant.genus}}</h4>
                <h4>Year: {{plant.year}}</h4>
            </div>



        </div>
    </div>
</div>