<div class="mainsaved">
    <div class="savedbutton">
        <h1 class="saved">Saved</h1>
        <h1 class="recommended">Recommended </h1>
    </div>

    <div class='savedgroup'>
        <div class='savedcard'>
            <h4>Common Name:</h4>
            <h4>Family Common Name:</h4>
            <h4>Scientific Name:</h4>
            <h4>Family:</h4>
            <h4>Genus:</h4>
            <h4>Year:</h4>


        </div>
    </div>
</div>
this.common_name = common_name;
this.scientific_name = scientific_name;
this.family_common_name = family_common_name;
this.family = family;
this.genus = genus;
this.year = year;
this.image_url = image_url;