@use '../app.component.scss';

:host {
    width: 35%;
}
.mainsaved {
    display: flex;
    background-color: #2EB991;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .savedbutton {
        display: flex;
        flex-direction: row;
        .saved {
            font-size: 1.5rem;
            color: white;
            background-color: #2EB991;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .recommended {
            font-size: 1.5rem;
            color: white;
            background-color: #258E70;
            width: 100%;
            padding: 10px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }  
    }

    .savedgroup {
        display: flex;
        padding: 10px;
        flex-direction: column;
        .savedcard {
            display: flex;
            background-color: #2EB991;
            padding: 10px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                width: 25%;
                border-radius: 50%;
            }

            div {
                display: flex;
                flex-direction: column;
                margin-left: 15px;
            }

        }
    }
    
}